<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="feed">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="reels">
      <ion-icon name="film-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="openCreateMenu($event)" layout="icon-only" style="cursor:pointer;">
      <ion-icon name="add-circle-outline" style="font-size:34px;color:#fff;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [tab]="'profile/' + myUsername">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
