<ion-header><ion-toolbar><ion-title>Mini Instagram</ion-title></ion-toolbar></ion-header>
<ion-content class="ion-padding">

  <ion-segment [(ngModel)]="mode">
    <ion-segment-button value="login"><ion-label>Ingresar</ion-label></ion-segment-button>
    <ion-segment-button value="register"><ion-label>Registrar</ion-label></ion-segment-button>
  </ion-segment>

  @if (isRegister) {
    <ion-item>
      <ion-input label="Nombre" labelPlacement="stacked" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Usuario" labelPlacement="stacked" [(ngModel)]="username"></ion-input>
    </ion-item>
  }

  <ion-item>
    <ion-input label="Email" labelPlacement="stacked" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Contraseña" labelPlacement="stacked" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="submit()">
    {{ isRegister ? 'Crear cuenta' : 'Entrar' }}
  </ion-button>

  @if (error) {
    <ion-text color="danger">
      <p>{{ error }}</p>
    </ion-text>
  }

</ion-content>
